
body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.gridcontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-content: stretch;
    justify-content: stretch;
    grid-template-columns: auto auto auto;
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        "nav-left . nav-right"
        ". logo ."
        "footer-left footer-mid footer-right";
  }

.nav-left {
    grid-area: nav-left;
    justify-self: left;
}

.nav-right {
    grid-area: nav-right;
    justify-self: right;
}

.footer-left {
    grid-area: footer-left;
    justify-self: left;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
}

.footer-mid {
    grid-area: footer-mid;
    justify-self: stretch;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
}

.footer-right {
    grid-area: footer-right;
    justify-self: right;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
}

.logo {
    grid-area: logo;
    align-self: top;
    justify-self: center;
    background-color: rgb(175, 175, 175);
}

li {
    list-style-type: none;
    float: left;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #404040;
}

ul li a:hover {
    text-decoration: underline;
    list-style-type: none;
}
