
body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.gridcontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-content: stretch;
    justify-content: stretch;
    grid-template-columns: 500px auto 500px;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        "nav-left . nav-right"
        ". logo ."
        "footer-left . footer-right";
  }

.nav-left {
    grid-area: nav-left;
    justify-self: left;
    border: 2px;
}

.nav-right {
    grid-area: nav-right;
    justify-self: right;
}

.footer-left {
    grid-area: footer-left;
    justify-self: left;
}

.footer-right {
    grid-area: footer-right;
    justify-self: right;
}

.logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    background-color: rgb(175, 175, 175);
}

li {
    list-style-type: none;
    float: left;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    font-size: 14px;
}

ul li a:hover {
    text-decoration: underline;
    list-style-type: none;
}
