
* {
    margin: 0;
}

body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.gridcontainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-content: stretch;
    justify-content: stretch;
    grid-template-columns: auto auto;
    grid-template-rows: 50px auto 40px;
    grid-template-areas:
        "nav-left nav-right"
        "logo logo"
        "footer-left footer-right";
  }

.nav-left {
    grid-area: nav-left;
    justify-self: left;
    padding-top: 10px;
}

.nav-right {
    grid-area: nav-right;
    justify-self: right;
    padding-top: 10px;
}

.footer-left {
    grid-area: footer-left;
    justify-self: stretch;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
}

.footer-right {
    grid-area: footer-right;
    justify-self: stretch;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
    padding-right: 20px;;
}

.search-section {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    width: 650px;
    background-color: #DDD;
    position: relative;
    top: -250px;
}

form {
    justify-self: stretch;
}

.logo {
    justify-self: center;
}

.input {
    width: 600px;
    height: 40px;
    align-self: center;
    border: 0px;
    border-radius: 20px;
}

.buttons {
    color: #5f6368;
    background-color: #f4f4f4;
    border: 0px;
    border-radius: 4px;
    padding: 10px 15px;
}

li {
    list-style-type: none;
    float: left;
    padding: 10px 20px 0px 10px;
}

ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #5F6368;
}

ul li a:hover {
    text-decoration: underline;
    list-style-type: none;
}

.footer-left ul {
    position: relative;
    left: -20px;
}

.footer-right ul {
    position: relative;
    float: right;
}